#navbar {
    position: fixed;
    display: flex;
    background: rgba(0,0,0,0.92);
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.divbarlogo {
    position: relative;
    top: 2px;
}

.divbar {
    position: relative;
    top: 0px;
}

.items {
    list-style: none;
    display: inline-block;
    top: -25px;
    z-index: 9999;
    opacity: 1;
    white-space: nowrap;
    
}
.buttonl {
    color: #D3D3D3;
    font-size: 20px;
    margin: 40px;
    padding: 5px;
   
}

.button {
    color: #8A8A8A;
    text-decoration: none;
    margin: 37px;
    font-family: 'Cabin', sans-serif;
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 1;
    white-space: nowrap;
}


.button1 {
    color: #8A8A8A;
    font-size: 20px;
    margin: 37px;
}

.button:hover {
    color: #ffffff;
    transition: 0.2s;
}

.corona  {
    position: relative;
    display: flex;
    top: 36px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11.5px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background: blue;
    z-index: 99;
}

.color {
    background-color: blue;
}

.aachat {
    color: #0F7CD9;
    text-decoration: none;
}

.aachat:hover {
    text-decoration: underline;
}

.message {
    position: absolute;
    top: -5px;
    line-height: 17px;
    
}
.iphoneSE {
    background-color: #131313;
    position: relative;
    display: flex;
    height: 590px;
    width: 1349px;
    top: 102px;
    left: -8px;
    justify-content: center;


}

.textSE {
    position: relative;
    display: flex;
    color: #F5F5F7;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.headline {
    position: absolute;
    font-size: 60px;
    font-family: 'Cabin', sans-serif;
    top: -10px;
    z-index: 999;
}

.subhead {
    position: absolute;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    top: 85px;
    z-index: 999;
}

.links {
    position: absolute;
    top: 220px;
    z-index: 999;

}

.paraSE {
    position: absolute;
    top: 165px;
    z-index: 999;
    font-family: 'Cabin', sans-serif;
    color: #86847B;
    font-size: 18px;

}

.icon {
    margin: 20px;
    color: #2997FF;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    text-decoration: none;
    z-index: 999;
}

.icon:hover {
    text-decoration: underline;
}

.imgSE {
    position: absolute;
    top: 120px;
}

.iphone11 {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    height: 590px;
    width: 1349px;
    max-width: 1349px;
    top: 105px;
    left: -8px;
    justify-content: center;
    z-index: 999;


}

.text11 {
    position: relative;
    display: flex;
    color: #1D1D1F;
    text-align: center;
    width: 100%;
    justify-content: center;
    z-index: 999;
}

.para11 {
    position: absolute;
    top: 130px;
    z-index: 999;
    font-family: 'Cabin', sans-serif;
    color: #86847B;
    font-size: 18px;

}

.links11 {
    position: absolute;
    top: 190px;
    z-index: 999;

}

.img11 {
    position: absolute;
    top: 150px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    z-index: 200;
}

.scrol {
    overflow-x: hidden;
}

.ipadpro {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    height: 590px;
    width: 1349px;
    max-width: 1349px;
    top: 105px;
    left: -8px;
    justify-content: center;
    z-index: 999;
}

.parapro {
    position: absolute;
    top: 165px;
    z-index: 999;
    font-family: 'Cabin', sans-serif;
    color: #86847B;
    font-size: 18px;
}
.textpro {
    position: relative;
    display: flex;
    color: #1D1D1F;
    text-align: center;
    width: 100%;
    justify-content: center;
    z-index: 999;
}

.linkspro {
    position: absolute;
    top: 220px;
    z-index: 999;

}

.imgpro {
    position: absolute;

}